[global]
        netbios name = {{ HOSTNAME }}
        workgroup = {{ DOMAIN }}
        realm = {{ REALM }}
        server role = active directory domain controller
        passdb backend = samba4
        idmap_ldb:use rfc2307 = yes
        dns forwarder = 1.1.1.1
        log file = /dev/stdout
[netlogon]
        path = /var/lib/samba/sysvol/{{ REALM }}/scripts
        read only = No
[sysvol]
        path = /var/lib/samba/sysvol
        read only = No
